{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

<h1>Purchase Computer</h1>

<form action="{% url 'hrapp:computer_form' %}" method="post">
    {% csrf_token %}
  <fieldset>
      <label for="manufacturer">Manufacturer: </label>
      <input id="manufacturer" type="text" name="manufacturer">
  </fieldset>
  <fieldset>
      <label for="make">Make: </label>
      <input id="make" type="text" name="make">
  </fieldset>
  <fieldset>
      <label for="purchase_date">Purchase Date: </label>
      <input id="purchase_date" type="date" name="purchase_date">
  </fieldset>
  <fieldset>
    <label for="employee">Assign to Employee: </label>
    <select id="employee" type="text" name="employee">
      <option value="" disabled selected>select</option>
          {% for employee in employees %}
              <option value={{ employee.id }}>{{ employee }} ({{employee.department_name}})</option>
          {% endfor %}
    </select>
</fieldset>
  <input class="bangazonButton" type="submit" value="Purchase Computer" />
</form>

{% endblock content %}