{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <h1 class="sectionHeader">Computers <a class='bangazonButton' href="{% url 'hrapp:computer_form' %}">Purchase Computer</a></h1>

    <section class="listContainer">
    {% for computer in all_computers %}
        <div class="listItem">
           
            <img class="listImage" src="{% static 'images/computer.png' %}">  
            <p>{{ computer.manufacturer }} {{ computer.make }}</p>
            <a class="bangazonButton" href="{% url 'hrapp:computer' computer.id %}">Details</a>
        </div>
    {% endfor %}
    </section>
    
{% endblock content %}