.welcomeMessage{
    text-align: center;
}

#container{
    margin: 0 auto;
    margin-top: 15px;
    width: 80vw;
    max-width:600px;
    height: 50vw;
    max-height: 400px;
    overflow:hidden;
    
    animation:one 20s infinite;
    position:relative;
    background-size:100% 100%;
    transition: 2s ease;
    transition-delay: 2s;
   
}

@keyframes one{
    from{background-image:url("../images/BoomerMessage1.png");}
    33%{background-image:url("../images/BoomerMessage1.png");}
    66%{background-image:url("../images/BoomerMessage2.png");}
    100%{background-image:url("../images/BoomerMessage3.png");}
}