.listContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.listItem {
    list-style-type: none;
    height: 250px;
    width: 250px;
    margin: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listImage{
    width: 30%;
}

.listButton {
}