
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css" media="screen" />


    <title>Details</title>
</head>
<body>
    
</body>
</html>
<div>
    <section class="detailsItem">
        <img class="detailsImage" src="{% static 'images/department.png' %}">
        <h1>{{ department.name }}</h1>
        <h3>Budget: ${{ department.budget }}</h2>
        <div>
            {%for employee in department.employees %}
                {%if employee.is_supervisor %}
                    <h4>Supervisor: </h6>
                    <p>{{employee}}</p>
                {% endif %}
            {% endfor %}
            <h4>Employees:</h6>
            <p>
            {%for employee in department.employees %}
               
                {%if not employee.is_supervisor %}
                   - {{employee}} -
                {% endif %}
            {% endfor %}
        
            </p>
        </div>
    </section>
</div>
</body>
</html>