{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<h1 class="sectionHeader">Employees  <a class="bangazonButton" href="{% url 'hrapp:employee_form' %}">Add Employee</a></h1>

<section class="listContainer">
    {% for employee in employees %}
        {% if employee.is_supervisor %}
            <div class="listItem supervisor">
                <img class="listImage" src="{% static 'images/employee.png' %}">
                <p>{{ employee }} (Supervisor)</p>
                <p>{{employee.department_name}}</p>
                <a class="bangazonButton" href="{% url 'hrapp:employee_details' employee.id %}">Details</a> 
            </div>
        {% else %}
            <div class="listItem">
                <img class="listImage" src="{% static 'images/employee.png' %}">
                <p>{{ employee }}</p>
                <p>Department: {{employee.department_name}}</p>
                <a class="bangazonButton" href="{% url 'hrapp:employee_details' employee.id %}">Details</a>
            </div>
        {% endif %}
    {% endfor %}
</section>
{% endblock content %}
