{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

    {% if employee.is_supervisor %}
        <div class="detailsItem supervisor">
            <img class='detailsImage' src="{% static 'images/employee.png' %}">
            <h1>{{ employee }} (SUPERVISOR)</h1>
            <p>Department:{{ employee.department }}</p>
            <p>Hire Date:{{ employee.start_date }}</p>
            <form action="{% url 'hrapp:employee_edit_form' employee.id %}" method="GET">
            <button class="bangazonButton">Edit Employee</button>
            <a class="bangazonButton" href="{% url 'hrapp:assign_employee_form' employee.id %}">Assign To Training Program</a>
        </div>
    {% else %}
        <div class="detailsItem">
            <img class='detailsImage' src="{% static 'images/employee.png' %}">
            <h1>{{ employee }}</h1>
            <p>Department: {{ employee.department_name }}</p>
            <p>Hire Date: {{ employee.start_date }}</p>
            <form action="{% url 'hrapp:employee_edit_form' employee.id %}" method="GET">
            {% csrf_token %}
            <button class="bangazonButton">Edit Employee</button>
            <a class="bangazonButton" href="{% url 'hrapp:assign_employee_form' employee.id %}">Assign To Training Program</a>
        </div>
    {% endif %}
        
{% endblock content %}