{% extends 'shared/base.html' %}

{% block content %}


    {% if employee.id is not None %}
    <h1>Update Employee Information</h1>
        <form action="{% url 'hrapp:employee_details' employee.id %}" method="post">
    {% else %}
    <h1>Add Employee</h1>
        <form action="{% url 'hrapp:employee_list' %}" method="post">
    {% endif %}
        {% csrf_token %}
      <fieldset>
          <label for="first_name">First Name: </label>
          <input required id="first_name" type="text" name="first_name" value={{employee.first_name}}>
      </fieldset>
      <fieldset>
          <label for="last_name">Last Name: </label>
          <input required id="last_name" type="text" name="last_name" value={{employee.last_name}}>
      </fieldset>
      <fieldset>
          <label for="start_date">Start Date: </label>
          <input required id="start_date" type="date" name="start_date" value={{employee.start_date}}>
      </fieldset>
      <fieldset>
          <label for="department">Department: </label>
          {% if employee %}
            <select id="department_id" type="text" name="department_id" value={{employee.department_id}} required>
          {% else %}
            <select id="department_id" type="text" name="department_id" required>
            <option value={{employee.department_id}} disabled selected>select</option>
          {% endif %}
               {% for department in all_departments %}
                    {% if employee and employee.department_id == department.id%}
                    <option value="{{ department.id }}" selected>{{department.name}}</option>
                    {% else %}
                    <option value="{{ department.id }}">{{ department.name }}</option>
               {% endif %}
          {% endfor %}
          </select>
      </fieldset>
      <fieldset>
          <label for="is_supervisor">Is Supervisor?: </label>
          {% if employee.is_supervisor %}
          <select id="is_supervisor" type="text" name="is_supervisor" value={{employee.is_supervisor}}>
          {% comment %} <option value="" disabled selected>{{employee.is_supervisor}}</option> {% endcomment %}
          <option selected value=1>Yes</option>
          <option value=0>No</option>
          {%elif employee and not employee.is_supervisor%}
            <select id="is_supervisor" type="text" name="is_supervisor" value={{employee.is_supervisor}} required>
            {% comment %} <option value="" disabled selected>{{employee.is_supervisor}}</option> {% endcomment %}
            <option value=1>Yes</option>
            <option selected value=0>No</option>
          {% else %}
          <select id="is_supervisor" type="text" name="is_supervisor" required>
            <option value="" disabled selected>select</option>
            <option value=1>Yes</option>
            <option value=0>No</option>
          {% endif %}
          </select>
      </fieldset>

      {% if employee.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input class="bangazonButton" type="submit" value="Update" />
        {% else %}
            <input class="bangazonButton" type="submit" value="Create" />
        {% endif %}
    </form>
{% endblock content %}