{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<h1>Employees  <a class="bangazonButton" href="{% url 'hrapp:employee_form' %}">Add Employee</a></h1>

<section class="listContainer">
    {% for employee in employees %}
        {% if employee.is_supervisor %}
            <div class="listItem supervisor">
            <img class="listImage" src="{% static 'images/employee.png' %}">
            <p>Employee: {{ employee }} (Suprvisor)</p>
            <p>Department: {{employee.department_name}}
            {% comment %} <a class="bangazonButton" href="{% url 'hrapp:employee_details' employee %}">Details</a> {% endcomment %}
        </div>
        {% else %}
            <div class="listItem">
            <img class="listImage" src="{% static 'images/employee.png' %}">
            <p>Employee: {{ employee }}</p>
            <p>Department: {{employee.department_name}}
            {% comment %} <a class="bangazonButton" href="{% url 'hrapp:employee_details' employee %}">Details</a> {% endcomment %}
        </div>
        {% endif %}
    {% endfor %}
</section>
{% endblock content %}
