{% extends 'shared/base.html' %}
{% block content %}
    <h1>Add Training Program</h1>


    <form action="{% url 'hrapp:training_program_list' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="title">Program Name: </label>
          <input id="title" type="text" name="title">
      </fieldset>
      <fieldset>
          <label for="start_date">Start Date: </label>
          <input id="start_date" type="date" name="start_date">
      </fieldset>
      <fieldset>
          <label for="end_date">End Date: </label>
          <input id="end_date" type="date" name="end_date">
      </fieldset>
       <fieldset>
          <label for="capacity">Capacity: </label>
          <input id="capacity" type="integer" name="capacity">
      </fieldset>
      <input class="bangazonButton" type="submit" value="Submit"/>
    </form>
{%endblock%}