{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<h1 class="sectionHeader">
Training Programs
 <a class='bangazonButton' href="{%url 'hrapp:training_program_form' %}">Create New Training Program</a>
 </h1>

<section>


    
   
       {% include "training_programs/past_training_program_list.html" %}
       
        <section id="future" class="listContainer">
        {% for program in future_training_programs %}
  
                <div  class="listItem">
                    <img class="listImage" src="{% static 'images/training.png' %}">
                    <p>{{program}}</p>
                    <a class='bangazonButton' href="{% url 'hrapp:training_program_details' program.id %}">Details</a>
                </div>
     
        {% endfor %}
        </section>
   


   
    <button class='bangazonButton hidden' id="future_button" onClick="toggle_button()">View Future Training programs</button>

    <button class='bangazonButton'  id="past_button" onClick="toggle_button()">View Past Training programs</button>
   
    
</section>
{% else %}
    <h1 class="sectionHeader">
    Training Programs
    </h1>

    <section>
       {% include "training_programs/past_training_program_list.html" %}
       
        <section id="future" class="listContainer">
        {% for program in future_training_programs %}
  
                <div  class="listItem">
                    <img class="listImage" src="{% static 'images/training.png' %}">
                    <p>{{program}}</p>
                </div>
     
        {% endfor %}
    </section>
   
    <button class='bangazonButton hidden' id="future_button" onClick="toggle_button()">View Future Training programs</button>

    <button class='bangazonButton'  id="past_button" onClick="toggle_button()">View Past Training programs</button>
     
</section>
{% endif %}
{% block javascript %}
    <script>

    function toggle_button() {
        document.getElementById("past").classList.toggle("hidden")
        document.getElementById("future").classList.toggle("hidden")
        document.getElementById("past_button").classList.toggle("hidden")
        document.getElementById("future_button").classList.toggle("hidden")
    }

    </script>
{% endblock %}

{% endblock content %}